{% extends 'base.html.twig' %}

{% block title %} Blog {% endblock %}

{% block body %}
    <div class="container-fluid p-5 text-black text-center">
        <h1>Best Blog Page in The World</h1>
        <p>Welcome to our travel blog, your gateway to exploring the world's most amazing destinations! Discover hidden gems,
            vibrant cultures, and breathtaking landscapes from every corner of the globe.
            Whether you're dreaming of sandy beaches, bustling cities, or serene natural wonders,
            we’ll guide you to the must-see spots and share tips to make your journey unforgettable.</p>
    </div>
{% endblock %}
