.englobe {
    /* flexbox */
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.btn_right {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn_right:hover {
    /* Couleur de fond au survol */
    background-color: #27ae60;
}
